#header_img {
    width: 75%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header_text {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #49b30f;
}